* {
  cursor: default;
}

/* Scrollbar Styling */
* {
  scrollbar-width: auto;
  scrollbar-color: #9c939f #ffffff;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 40px;
}

::-webkit-scrollbar-thumb {
  background-color: #9c939f;
  border-radius: 12px;
  border: 3px solid #ffffff;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-top-32 {
  margin-top: 32px;
}

.margin-right-16 {
  margin-right: 16px;
}

h2 {
  color: #ffb4b4;
}

table tr th {
  background-color: #988bee;
  color: white;
}

table tr th i:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

table tr th i:hover {
  color: rgb(79, 79, 79);
}

table tr th i.active {
  color: rgb(0, 0, 0);
}

.container__status-filter-input {
  margin-bottom: 16px;
}

.status-open {
  background-color: #007bff;
  color: white;
}

.status-pending {
  background-color: #f7ca44;
  color: rgb(47, 23, 23);
}

.status-resolved {
  background-color: #28a745;
  color: white;
}

.status-rejected {
  background-color: #e54656;
  color: white;
}

.status-accepted {
  background-color: #17a2b8;
  color: white;
}

.dashboard__status-filter__label {
  padding-right: 0;
  width: 100px;
}

.dashboard__table-container {
  height: 58vh;
  overflow-y: scroll;
}

.sticky-top {
  z-index: 1;
}

.btn__add-ticket {
  margin-right: 16px;
  color: white;
  font-weight: 600;
}

.dashboard__table-container {
  box-shadow: -6px 6px 10px rgba(0, 0, 0, 0.16);
}

table {
  border-collapse: collapse;
}

th i:hover {
  color: #007bff;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #fafafa;
}
